/* BRAND COLORS */

:root {
    --brand-color-slate:  #434455;
    --brand-color-white: #FFFFFF;
    --brand-color-iris: #4D5AE5;
   --brand-color-navyblue: #2E2F42;
   --brand-color-ocean: #404BBF;
--brand-color-customers:  #8e8f99;
--brand-color-CLOUD:#F4F4FD;
--brand-color-CORNFLOWER:  #E7E9FC;
--gap: 10px;
--brand-color-orange:#FD9222;
}


.subscribe {
    padding: 62px 20px;
    max-width: 375px;
    background-image: url(../images/Subcribe-mobile1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .subscribe {
      background-image: url(../images/Subcribe-mobile2x.jpg);
    }
  }
  

  .subscribe-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .subscribe-header {
    margin-bottom: 24px;
    max-width: 290px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .subscribe-text {
    margin-bottom: 24px;
    max-width: 326px;
    /* margin: 0 auto; */
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
  }
  
  .subscribe-btn {
    padding: 12px 28px;
    background-color:#FD9222;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #ffffff;
    border-radius: 100px;
    margin: 0 auto;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background-color: #FD9222;
    color: #FFFFFF;
  }
  


   .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(46, 47, 66, 0.4);
    
  } 
  
   .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  } 
  
   .backdrop.is-hidden .subscribe-modal {
    transform: translate(-50%, -50%) scale(0.9);
  } 
  
  .subscribe-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 95%;
    max-width: 311px;
    height: 95%;
    max-height: 350px;
    overflow: hidden;
    z-index: 50;
  
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .subscribe-btn-close {
    position: absolute;
    stroke:#FFFFFF;
    display: flex;
    top: 15px;
    right: 14px;
    padding: 0;
  
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .subscribe-btn-close:hover,
  .subscribe-btn-close:focus {
    stroke:#FFFFFF;
  }
  
  .subscribe-btn-close-icon {
    width: 24px;
    height: 24px;
  }
  
  .subscribe-modal-picture {
    width: 311px;
    height: 169px;
    /* z-index: 1; */
    background-image: url(../images/sub-mobile1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .subscribe-modal-picture {
      background-image: url(../images/sub-mobile2x.jpg);
    }
  }
  
  .subscribe-form {
    padding: 32px 24px;
  }
  
  .subscribe-form-title {
    margin-bottom: 24px;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
  }
  
  .subscribe-orange-txt {
    color: #FD9222;
  }
  
  .subscribe-email {
    width: 263px;
    padding: 14px 18px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 25px;
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: -0.02em;
  
    color: rgba(64, 64, 64, 0.3);
  }
  
  .email-window {
    position: relative;
  }
  
  .subscribe-submit-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    /* margin: 0; */
    padding: 14px 28px;
    background: #FD9222;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #FFFFFF;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .subscribe-submit-btn:hover,
  .subscribe-submit-btn:focus {
    background-color: #FD9222;
    color:#FFFFFF;
  }
  
  /* ----------------------------- TABLET ------------------------------- */
  
  @media screen and (min-width: 768px) {
    .subscribe {
      padding: 72px 150px;
      max-width: 768px;
      background-image: url(../images/Subcribe-tablet1x.jpg);
    }
  
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      .subscribe {
        background-image: url(../images/Subcribe-tablet2x.jpg);
  
      }
    }
  
    .subscribe-header {
      width: 378px;
      font-size: 24px;
      line-height: 1.166;
    }
  
    .subscribe-text {
      max-width: 467px;
    }
  
    .subscribe-btn {
      padding: 14px 40px;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.22;
    }
  
    .subscribe-modal {
      max-width: 538px;
      max-height: 412px;
    }
  
    .subscribe-btn-close {
      top: 24px;
      right: 24px;
    }
  
    .subscribe-btn-close-icon {
      width: 28px;
      height: 28px;
  
    }
  
    .subscribe-modal-picture {
      width: 538px;
      height: 196px;
      background-image: url(../images/sub-descop1x.jpg);
    }
  
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      .subscribe-modal-picture {
        background-image: url(../images/sub-descop2x.jpg);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
  
    .subscribe-form {
      max-height: 216px;
      padding: 40px;
    }
  
    .subscribe-form-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 1.1667;
      margin-bottom: 28px;
    }
  
    .subscribe-email {
      width: 313px;
      padding: 14px 24px;
      font-size: 18px;
      line-height: 1.222;
    }
  
    .subscribe-submit-btn {
      padding: 16px 42px;
    }
  }
  
  /* --------------------- DESKTOP ------------------------------- */
  
  @media screen and (min-width: 1200px) {
    .subscribe {
      padding: 72px 366px;
      max-width: 1200px;
      background-image: url(../images/Subcribe.png);
    }
  
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      .subscribe {
        background-image: url(../images/Subcribe1x.jpg);

      }
    }
  }










































    
    /*--------------------------Footer---------------------*/
    .footer{
    background-color: #1E1823;
    padding-top: 32px;
    padding-bottom: 32px;
    }

    .container-footer{
        padding-left: 20px;
        padding-right: 20px;
    }
    .container{
    max-width:1200px;
    }
    .footer-first-subcontainer{
        margin-bottom: 64px;
    }

    .footer-logo{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;  font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #FD9222;
    margin-bottom: 32px;
    width: 300px;
    text-align: left;
    text-transform: none;
  }

    
    .footer-logo-span{
    color: white;
    }
    
    .footer-wrap{
        display: flex;
        gap: 59px;
    }

    .footer-address{
text-decoration: none;
    
    }
    .footer-list{
        display: flex;
        flex-direction: column;
        gap: 4px;
        list-style: none;
    }
    
    .footer-address-item{
        font-style: normal;
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
        letter-spacing: -0.02em;
        color: #ffffff;
        text-decoration: none;
    }
    
    .footer-address-p{
        display: flex;
        gap: 59px;
        color: #FFFFFF;
    }
    
    .footer-socials{
        display: flex;
        gap: 14px;
        list-style: none;
      }
    

    
    .footer-social-icon{
        width: 22px;
        height: 22px;
    }
    
    .footer-social-item{
    display: flex;
    background-color: #1E1823;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    }
    
    .footer-social-item:hover,
    .footer-social-item:focus,
    .footer-social-item:active{
        background-color: #1E1823;
    }
    
    .footer-svg{
        stroke: #ffffff;
        fill: transparent;
    }
    


    .footer-nav{
list-style: none;
    }
    
    .footer-nav-list{
        display: flex;
        flex-direction: column;
        gap: 18px;
        text-decoration: none;
    }

    
    .footer-menu-link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        color: #ffffff;
        text-decoration: none;
    
    }

.footer-menu-link:is(:hover, :focus),
.footer-address-item:is(:hover, :focus) {
  color: #FD9222;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.footer-svg:hover {
    stroke: #FD9222;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-menu-link:is(:hover, :focus)::after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    bottom: -8px;
    width: 24px;
    height: 1px;
    border-radius: 1px;
    background-color: var(--contrast-color);
    pointer-events: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

@media screen and (min-width: 375px) {
    .footer-wrap {
      gap: 113px;
    }
  }


@media screen and (min-width: 768px) {
    .footer {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    .container-footer {
      padding-left: 32px;
      padding-right: 32px;
    }
  
    .footer-first-subcontainer {
      margin-bottom: 78px;
      display: flex;
      justify-content: space-between;
    }
  
    .footer-logo {
      font-size: 28px;
      line-height: 1.21;
      margin-bottom: 0;
    }
  
    .footer-wrap {
      gap: 50px;
    }
  
    .footer-socials {
      gap: 18px;
    }
  
    .footer-nav-list {
      flex-direction: row;
      gap: 24px;
    }
  
   .footer-second-container::before {
      bottom: 24px;
    }
  }

@media screen and (min-width: 1200px) {
    .footer-first-subcontainer {
      margin-bottom: 86px;
    }
  
    .footer-wrap {
      gap: 63px;
    }
  
    .footer-second-container {
      position: relative;
    }
  }
  


































































  .modal-buy-now {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    width: 311px;
    border-radius: 15px;
    padding: 32px 24px;
    z-index: 40;
    background-color: #ffffff;
    max-height: 95vh;
    overflow-y: scroll;
}  

.modal-buy-now-close {
    position: absolute;
    top: 14px;
    right: 14px;
    stroke: black;
    background-color: transparent;
    border: none;

}
.modal-buy-now-close:hover{
    stroke:#fd9222 ;
}

.modal-buy-now-title-span {
    color: #111111;
  }

.modal-buy-now-title {
margin-bottom: 32px;
color: #FD9222;
text-align: center;
}

.modal-buy-now-list {
display: flex;
flex-direction: column;
margin-bottom: 32px;
gap: 8px;
}

.modal-buy-now-item {
    width: 263px;
    height: 85px;
    padding: 8px 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
  }

  .modal-buy-now-g {
    padding: 8px 27px;
    width: 96px;
    font-weight: 600;
    background: #fafafa;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
  }

  .personal-info {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
  }


  .modal-buy-now-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
  
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    color: #000000;
  }
  
  .modal-buy-now-form-label p {
    margin-bottom: 8px;
  }

  
  .modal-buy-now-input-name-wrap {
    width: 258px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .modal-buy-now-input-name-retreat {
    display: block;
  }

  .modal-buy-now-form-label input,textarea {
  height: 45px;
  width: 100%;
  background-color: transparent;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  padding: 14px 18px;
}

.modal-buy-now-form-label input::placeholder,
textarea::placeholder {
  font-weight: 400;
  color: rgba(64, 64, 64, 0.3);
}

.modal-buy-now-form-label:first-child input:nth-child(3) {
  margin-top: 14px;
}

.modal-buy-now-form-label input[type='tel'] {
  padding-left: 106px;
}

.modal-buy-now-input-wrap {
  position: relative;
}

.modal-buy-now-input-wrap svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.modal-buy-now-input-wrap .svg-ua {
  left: 18px;
}

.ua-code {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  padding: 14px 18px;
}

.ua-code::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
  display: inline-block;
  width: 1.5px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-buy-now-input-wrap .svg-mastercard {
  right: 14px;
}

.modal-buy-now-form-label textarea {
  height: 91px;
  resize: none;
}

.modal-buy-now-form-submit {
  border-radius: 100px;
  padding: 12px 28px;
  background-color: #fd9222;
  color:#ffffff;
  font-weight: 600;
  line-height: 1.21;
  margin-top: 18px;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ,
    backgroundcolor 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


  input:invalid:not(:placeholder-shown) {
    border: 2px solid red;
  }
  
  input:valid:not(:placeholder-shown) {
    border: 2px solid lightgreen;
  }
  
  input:invalid:not(:placeholder-shown) + .form__error {
    display: block;
  }
  


  @media screen and (min-width: 768px) {
    .modal-buy-now {
      width: 609px;
      padding: 48px;
    }
  
    .modal-buy-now-list {
      gap: 16px;
      margin-bottom: 40px;
      flex-direction: row;
    }
  
    .modal-buy-now-item {
      width: 160px;
      height: 196px;
      padding: 24px 20px 18px 20px;
      margin: none;
      flex-direction: column;
    }
  
    .modal-buy-item img {
      width: 120px;
      height: 111px;
    }
  
    .personal-info {
      flex-wrap: nowrap;
    }

    .modal-buy-now-input-name-wrap {
      flex-direction: row;
      gap: 21px;
      width: 246px;
    }
  
    .modal-buy-now-form-submit {
      padding: 14px 40px;
    }
  }
  